*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(128, 128, 128, 0.082)
}
.serarch input{
    width: 500px;
    padding: 14px 5px;
    border: none;
    border-bottom: 1px solid #000;
    margin: 10px;
    background-color: rgba(128, 128, 128, 0)
}
.serarch input:focus{
    outline: none;
}
header .fa-solid{
    display: none;
}
header{
    position: fixed;
    top: 0;
    margin: 20px;
}
.serarch button{
    background: #8052ec;
    border: none;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
}
header ul{
    display: flex;
    list-style: none;
    margin-top: 20px;
}
header ul .logo{
    background: #8052ec;
    color: #fff
}
header a{
    color: #8052ec;
    text-decoration: none;
    margin: 3px;
    border: 1px solid #8052ec;
    padding: 10px 25px;
    border-radius: 20px;
}
section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
}
section img{
    width: 300px;
    height: 320px;
    background: #fff;
}
section article{
    background: #fff;
    margin: 30px 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}
section article h3{
    font-size: 16px;
    margin: 10px;
}
section article p{
    font-weight: 700;
    margin: 10px;
}
.active{
    display: block;
}
@media (max-width:900px) {
    header{
        background: #fff;
    }
    .serarch input{
        width: 200px;
        padding: 10px 5px;
        border: none;
        border-bottom: 1px solid #000;
        margin: 0 20px;
        background-color: rgba(128, 128, 128, 0)
    }
    header ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-top: 10px;
        text-align: center;
        display: none;
    }
    header .fa-solid{
        display: block;
        position: absolute;
        top: 14px;
        margin: 5px;
        font-size: 17px;
    }
    header a{
        color: #8052ec;
        text-decoration: none;
        margin: 3px;
        border: 1px solid #8052ec;
        padding: 10px 25px;
        border-radius: 20px;
    }
    header ul li{
        margin: 30px 0;
    }
    .serarch button{
        background: #8052ec;
        border: none;
        color: #fff;
        padding: 15px 20px;
        border-radius: 5px;
    }
    section article{
        background: #fff;
        margin: 10px 50px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px grey;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-top: 20%;
    }
}